p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
input[type="search"] {
    height: 28px;
    width: 240px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid #CCCCCC;
} 